html,
body {
	height: 100% ;
	overflow: hidden;
}
.mui-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.layout{
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin:0 auto;

}
.header{
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin:0 auto;
    height: 50px;
    background-color: cornflowerblue;
}
.box_list{
    width: 100%;
    height: 50px;
    position: relative;
    
}
.header > .box_list > .icon_back {
    height: 20px;
    width: 40px;
    position: absolute;
    top: 15px;
    left: 5px;
    cursor: pointer;
}
.header > .box_list > .txt_title {
    font-size: 19px;
    font-weight: 00;
    color: aliceblue;
    letter-spacing: 2px;
    padding-top: 13px;
    text-align: center;
}


.mui-content{
	margin-top:8px;
	width: 100%;
	max-width: 640px;
    min-width: 300px;
    margin:0 auto;
}


#selectBox{
	width:100%;
	height: 25px;
	position: relative;
	margin-top:10px;
}
#nan{
	line-height:25px;
	cursor: pointer;
	text-align: center;
	position: absolute;
	left: 25%;
	margin-left: -47.25px;
	padding: 0px 20px;
	font-weight: 600;
}
#bei{
	line-height:25px;
	cursor: pointer;
	text-align: center;
	position: absolute;
	right: 25%;
	margin-right: -47.25px;
	padding: 0px 20px;
	font-weight: 600;
}
.border{
	border-bottom: solid 2px #38c;
}

#list{
	margin-top:5px;
}
.position2{
	display: none;
}
