.list_layout{
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin:0 auto;

}
.list_header{
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
}
.box_list{
    width: 100%;
    height: 50px;
    position: relative;
}
.list_header > .box_list > .icon_back {
    height: 20px;
    width: 40px;
    position: absolute;
    top: 15px;
    left: 5px;
}
.list_header > .box_list > .txt_title {
    font-size: 19px;
    font-weight: 500;
    color: aliceblue;
    letter-spacing: 2px;
    padding-top: 13px;
    text-align: center;
}




.list_body{
	width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin:0 auto;
}

.box_body{
	width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin:0 auto;
    padding: 20px 30px;
    text-align: center;
}

#text_title{
	margin-top: 10px;	
}

#text_info{
	margin-top:15px;
	color: #777788;
}

#text_content{
	margin-top:30px;
	text-align:left;
	line-height: 22px;
}