*{
    font-family: "Microsoft YaHei UI";

}
.layout{
    width: 100%;
}


.layout_header{
    width: 100%;
     padding-top: 30px;
}
#title{
    margin-left: 30px;
    color: #323232;
    font-family: inherit;
    font-weight: 400;
    font-size: 28px;
    display: inline;
}
#remarks{
	margin-left: 30px;
	color: #7E7E7E;
	font-size: 16px;
}


.layout_body{
     margin-top: 50px;
    width: 100%;
    text-align: center;
}
.box_body{
    width: 100%;
}

input{
    margin-bottom: 20px;
    width: 152px;
}