@charset "utf-8";

#user_p3{
	margin-right: 14px;
}

.row1 {
	width: 400px;
    background: #f7f7f7;
    line-height: 50px;
    height: 50px;
    font-weight: bold;
    color: #666;
    text-align:center;
    font-size: 15px;
}

.row {
	width: 400px;
    line-height: 40px;
    font-family: 华文楷体;
    font-size: 15px;
    text-align: center;
}
