*{
    font-family: "Microsoft YaHei UI";

}
.layout{
    width: 100%;
}


.layout_header{
    width: 100%;
     padding-top: 30px;
}
#title{
    margin-left: 30px;
    color: #323232;
    font-family: inherit;
    font-weight: 400;
    font-size: 28px;
    display: inline;
}
#remarks{
	margin-left: 30px;
	color: #7E7E7E;
	font-size: 16px;
}


.layout_body{
     margin-top: 50px;
    width: 100%;
    text-align: center;
}

table{
    border-collapse:collapse;/*折叠为单一边框*/
    margin: 0 auto;
}
th{
    width: 200px;
}

table,th,tr,td{
    border: 1px solid #57a5cd;

}

.box_page{
    width: 818px;
    margin: 0 auto;
    text-align: center;
}

#News-Pagination{
    margin-top: 10px;

}

.search{
    width: 430px;
    margin:0 auto;

}
.searchbydepart{
    margin-left: 15px;
}

.btn_search{
    margin-left: 30px;
    cursor: pointer;
		    background: #F36A5A;
		    border: none;
		    padding: 5px 20px;
		    color: #fff;
		    border-radius:5px;
}
.btn_del{
	margin-left: 5px;
	background: #87CECB;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 3px 13px;
	cursor: pointer;
}
.btn_edit{
	background: #87CECB;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 3px 13px;
	cursor: pointer;
}
#btn_ok{
	background: #F36A5A;
	color: white;
}
