body{
    margin: 0;
    padding: 0;
}
iframe{
	margin-top: 70px;
    border: none;
    padding: 0;
}
i{
	display: inline;
}

.layout{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
    position: relative;
}
.layout_header{
	position: fixed;
	top:0;
	left:0;
	right:0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 70px;
    border-bottom: solid 1px #CCCCCC;
    background-color: #fff;
}
.box_title1{
	 height: 70px;
}
.header_left{
	width: 210px;
	height: 70px;
	background: #F36A5A;
	cursor: pointer;
}
.title_icon{
	height: 30px;
	width: 30px;
	margin-top: 20px;
	margin-left: 20px;
}
.title_text{
	position: absolute;
	left: 58px;
	top: 4px;
	color: #fff;
	font-size: 18px;
	font-family: "Microsoft YaHei",sans-serif;/*设备默认字体*/;
	font-weight: 600;
}
.box_title1 > img{
	width:32px;
	position:absolute;
	right: 40px;
	top: 25px;
	cursor: pointer;
}
.username{
	width:200px;
	position:absolute;
	left: 50%;
	top:25px;
	font:20px "Microsoft YaHei";
	text-align: center;
}




.layout_body{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
}
.body_left{
    width: 210px;
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    background: #3E3E3E; 
}
.body_right{
    width: calc(100% - 210px);
    text-align: center;
    margin-left: 210px;
}
#iframe{
    width: 100%;
    height: 650px;
    background: #EDEDED;
}