*{
    font-family: "Microsoft YaHei UI";
}
.layout{
    width: 100%;
}


.layout_header{
    width: 100%;
    text-align: center;
}
#title{
    margin-top: 50px;
}


.layout_body{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

#btn_ok{
    margin-top: 30px;
}