body{
    margin: 0;
    padding: 20px;
    background: #EDEDED;
}
.layout{
    background: #EDEDED;
}
#sum_logins,#sum_bookings,#sum_rooms,#sum_users{
	font-family: "Microsoft YaHei",sans-serif;/*设备默认字体*/
}
#container{
	background-color: #fff;
}